default:
    suites:
        default:
            paths: [ '%paths.base%/tests/features' ]
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - integralservice:context:coverage
                - integralservice:context:api
                - integralservice:context:email
                - integralservice:context:web
                - integralservice:context:screenshot:
                    mail_to:
                        - recipient1@gmail.com
                        - recipient2@gmail.com
                    mail_from: fail-behat@gmail.com
                    mail_subject: Tests failed
                    mailer_host: smtp.gmail.com
                    mailer_port: 465
                    mailer_encryption: ssl
                    mailer_username: your_username@gmail.com
                    mailer_password: your_password
                    tmpPath: /var/tmp

    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost:8080'
            files_path: 'tests/fixtures/files'
            goutte: ~
            selenium2: ~
            browser_name: 'chrome'
            sessions:
                default:
                    goutte: ~
                symfony2:
                    goutte: ~
        IntegralService\Extension:
            whitelist:
                - src
            result_file: results/behat_coverage.xml

symfony2:
    extensions:
        Behat\MinkExtension:
            default_session: symfony2
